PORT=8787
DATABASE_URL=
RPC_URL=https://evm.cronos.org
CHAIN_ID=25
CHAIN_NAME=Cronos Mainnet
FFS_TOKEN_ADDRESS=0xf9D90e9f8E3fcc41D44e220deDB73DF6c42c8244
FFS_BOTTLE_ADDRESS=0x93E7a174E1DadfE429De8D0E0f281ee1851820E9
TREASURY_WALLET=0x75d04bcA6B542Fe1f3EeE8196DEB2C2675dAABcb
FFS_BOTTLE_ABI_PATH=ffs-contracts/artifacts/contracts/FFSBottle.sol/FFSBottle.json
START_BLOCK=0
CONFIRMATIONS=0
CORS_ORIGIN=https://for-fox-sake.vercel.app
CRONOSCAN_API_KEY=
